@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #eef3fa;
  color: #1e3a8a;

}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #001f3f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
  font-family: 'KCC-Ganpan';

}

nav {
  display: flex;
  gap: 1rem;
  padding-right: 5rem;
  flex-wrap: wrap;
}

nav a {
  color: #dbeafe;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #60a5fa;
}

section {
  padding: 20px 20px;
  min-height: 100vh;
  box-sizing: border-box;
  margin-bottom: 20px;
  scroll-margin-top: 100px
}

section:nth-child(even) {
  background-color: #dbeafe;
}

section h2 {
  color: #1e3a8a;
  padding-bottom: 20px;
  font-family: 'KCC-Ganpan';
}

section img {
  width: 200px;
  border-radius: 15px;
  margin-top: 1rem;
  box-shadow: 0 0 10px rgba(30, 64, 175, 0.2);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #60a5fa;
}

.project-images {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.project-images img {
  width: auto;
  height: 100px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.project-images img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: #bfdbfe;
  color: #1e3a8a;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  section {
    min-height: 30vh;
    scroll-margin-top: 120px
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  nav a {
    margin: 0;
  }
}
